@model CalifornianHealthMonolithic.Models.ConsultantModelList

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <label for="consultant">Select Consultant you wish to make an appointment for</label>
    <div class="form-group">
        @Html.DropDownListFor(m => m.selectedConsultantId, Model.ConsultantsList, "- Please select -", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.selectedConsultantId)
    </div>

</section>

<section style="max-width:1000px; margin: 0 auto">
    <div id='calendar'></div>
</section>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>
    function handleDateClick(info) {
        const hourSelected = new Date(info.dateStr).getHours();
        if (new Date(info.dateStr) < Date.now()) {
            alert('time machine required')
        }
        else if (hourSelected < 8 || hourSelected >= 18 || hourSelected == 12) {
            alert('the date you selected is outside the working hours')
        } else {
            alert('time selected: ' + info.dateStr);
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            firstDay: 1,
            selectable: true,
            slotMinTime: '08:00',
            dateClick: handleDateClick,
            weekends: false
        });
        calendar.render();
        calendar.addEventSource({
            events: [
                { title: 'New Event', start: '2024-09-04T15:00:00', end: '2024-09-04T15:30:00' },
                { title: 'Another Event', start: '2024-09-05T10:00:00', end: '2024-09-05T10:30:00' }
            ]
        });
    });
</script>